<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Group List</title>
    <link rel="stylesheet" href="/main.css" />
</head>
<body>
<h1>Group List</h1>
<a href="addGroup">Add Groups</a>
<br/><br/>
<div>
    <table border="1">
        <tr>
            <th>Group Name</th>
        </tr>
        <tr th:each ="group : ${groups}">
            <td th:utext="${group.getName()}">...</td>
            <td><a th:href="@{/showGroupUpdateForm/{id}(id=${group.id})}">Update</a>
                <a th:href="@{/deleteGroup/{id}(id=${group.id})}">Delete</a></td>
        </tr>
    </table>
    <br/>
    <a href="/">Return home</a>
</div>
</body>
</html>